@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  text-decoration: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 80%;
}

.carousel-control-next-icon {
  position: absolute;
  bottom: 5%;
  border: .2rem solid white;
  border-radius: 50%;
  padding: 1rem;
}

.carousel-control-prev-icon {
  position: absolute;
  bottom: 5%;
  right: -480%;
  border: .2rem solid white;
  border-radius: 50%;
  padding: 1rem;
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  padding: 1.8rem 5% 0.5rem 5%;
  padding-right: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
}

header .logo a {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  position: relative;
  padding-top: 0.3rem;
  font-weight: 600;
}

header .logo a span {
  color: #46abca;
}

header .logo a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: .2rem;
  background: #46abca;
  top: 0%;
  left: 0;
}

header .menu a {
  color: #ffffff;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  padding-top: 0.8rem;
  padding-right: 4.3rem;
  text-transform: capitalize;
  margin-right: 2rem;
  color: #46abca;
}

header .menu a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: .1rem;
  background: #46abca;
  top: 0%;
  left: 0;
}

header .menu a:hover {
  color: #ffffff;
}

header .menu-btn {
  color: #46abca;
  font-size: 1.5rem;
  display: none;
}

#home {
  min-height: 100vh;
  background: url("img/bg.jpg") center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .content {
  width: 100%;
  height: 100%;
  padding: 2rem 2%;
}

#home .content .one {
  margin-bottom: 2rem;
}

#home .content .one h3 {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
}

#home .content .one h3 span {
  color: #46abca;
}

#home .content .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .content .second h3 {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
}

#home .content .second p {
  color: #46abca;
  text-transform: capitalize;
}

#home .content .second .search-btn {
  padding: 0.5rem 1rem;
  background: transparent;
  display: inline-block;
  margin-top: 2rem;
  border: 0.1rem solid #46abca;
}

#home .content .second .search-btn a {
  color: #46abca;
  text-decoration: none !important;
}

#home .content .third {
  margin-top: 2rem;
}

#home .content .third h3 {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
}

#home .content .third p {
  color: #46abca;
  text-transform: capitalize;
}

#home .content .third .search-btn {
  padding: 0.5rem 1rem;
  background: transparent;
  display: inline-block;
  margin-top: 2rem;
  border: 0.1rem solid #46abca;
}

#home .content .third .search-btn a {
  color: #46abca;
  text-decoration: none !important;
}

#home .content .search-btn {
  padding: 0.5rem 1rem;
  background: #46abca;
  display: inline-block;
  margin-top: 2rem;
}

#home .content .search-btn a {
  color: #000;
}

#home .side-bar {
  background: #46abca;
  min-height: 100vh;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .side-bar .fa-gear {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#home .side-bar .box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .side-bar .file {
  font-size: 1.5rem;
  background: rgba(114, 158, 240, 0.5);
  padding: .2rem 1rem;
  margin-bottom: 2rem;
}

#home .side-bar .text h3 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 1.2rem;
}

#home .side-bar .text h3 span {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.waves {
  position: relative;
  width: 100%;
}

.waves .wave {
  position: absolute;
  bottom: 5%;
  left: 0rem;
  width: 100%;
  height: 70px;
  background: url("img/wave-bot (1).png");
  background-size: 1000px  100px;
  opacity: .2;
}

.waves .wave.wave1, .waves .wave.wave2 {
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.waves .wavee {
  position: absolute;
  bottom: 5%;
  left: 0rem;
  width: 100%;
  height: 70px;
  background: url("img/wave-bot (1).png");
  background-size: 1000px  100px;
  opacity: .2;
}

.waves .wavee.wave2, .waves .wavee.wave4 {
  -webkit-animation: animate 20s linear infinite;
          animation: animate 20s linear infinite;
  position: absolute;
  bottom: 5%;
  left: 0rem;
  width: 100%;
  height: 70px;
  background: url("img/wave-bot (1).png");
  background-size: 1000px  100px;
  opacity: .2;
}

.waves .wavee.wave2.wave1, .waves .wavee.wave2.wave2, .waves .wavee.wave4.wave1, .waves .wavee.wave4.wave2 {
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    display: none;
  }
  #home .content {
    padding: 4rem 0;
  }
  header.active {
    background: #000;
  }
  header .menu-btn {
    display: inline-block;
    font-size: 1.8rem;
  }
  header .menu {
    position: absolute;
    top: 99%;
    background: #0e0e0e;
    padding: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0%;
    right: 0%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .menu.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .menu a {
    display: inline-block;
    margin: 2rem 0;
  }
  header .menu a::after {
    width: 8rem;
  }
  #home .side-bar {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  #home .content {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */